.outline.label .text{
    -fx-font-size: 40px;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

.error.label .text{
    -fx-font-size: 26;
    -fx-fill: red;
    -fx-stroke-width: 1px;
    -fx-stroke: black;
}
